{% extends './plantilla.html' %}

{% block titulo %} Crear Portafolio {% endblock %}

{% block contenido %}
<section class="page-section">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0">Datos de protafolio</h2>
                        <hr class="divider" />
                        <p class="text-muted mb-5">Ingrese los datos en todos los campos.</p>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <form action="" method="post">{% csrf_token %}
                        {{ form.as_p }}
                            <div class="d-grid"><button class="btn btn-primary btn-xl" type="submit">Enviar</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}