{% extends './plantilla.html' %}

{% block titulo %} Iniciar sesion {% endblock %}

{% block contenido %}
<section class="page-section">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0">Iniciar Sesion</h2>
                        <hr class="divider" />
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <form method="post">{% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-grid"><button class="btn btn-primary btn-xl" type="submit">Iniciar sesion</button></div>
                            <div class="d-grid"><a class="btn btn-primary btn-xl mt-1" href="{% url 'mostrarregistro' %}" >Registro</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}